<?xml version='1.0' encoding='utf-8'?>
<plugin id="plugman-stringutils" version="0.1.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PlugmanStringUtils</name>

    <js-module name="PlugmanStringUtils" src="www/PlugmanStringUtils.js">
        <clobbers target="PlugmanStringUtils" />
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PlugmanStringUtils">
                <param name="android-package" value="com.plugins.PlugmanStringUtils" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/com/plugins/PlugmanStringUtils.java" target-dir="src/android/com/plugins" />
        <framework custom="true" src="src/android/stringutils-sdk.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PlugmanStringUtils">
                <param name="ios-package" value="PlugmanStringUtils" />
            </feature>
        </config-file>
        <source-file src="src/ios/PlugmanStringUtils.m" />
        <framework src="IOSStringUtils" type="podspec" spec="~> 0.1.1" />
    </platform>

</plugin>